.sansserif {
  font-family: Arial, Helvetica, sans-serif;
} /*
.myname {
	font-size: 18px;
} */

body {
	font-family: Helvetica, sans-serif!important;
	background-color:#3d5a80!important;
} 

.contents {
	background-color:#fff;
}
.contentdark {
	background-color:#293241;
	color:#ee6c4d;
}

.contentbar {
	padding-top: 1em;
	padding-bottom: 1em!important;
}

.contentpads {
	padding-top: 2em;
}

footer {
	text-align:center;
	bottom:0;
	left:0;
	width:100%;
	margin-top: 4em;
	height:auto;
	padding:1em;
	background-color:#fff;
}

img {
	margin:auto;
	display:block;
}

.profilepic {
	border-radius: 50%;
}

.nobullets{
	list-style-type: none;
}

.carousel-inner {
	max-height: 720px;
	width: auto;
}